<html>
<head>
    <title>
        {% block title %}{% endblock %} - php salt and hash password - www.codeofaninja.com</title>
    <link type="text/css" rel="stylesheet" href="../../../../public/css/style.css"/>
</head>
<body>

<div id="loginForm">
    {% block body %}

    {% endblock %}
</div>

</body>