{% extends "base.twig" %}

{% block title %}
    login
{% endblock %}

{% block body %}
        <form action="{{ path("login_submit") }}" method="post">

            <div id="formHeader">Website Login</div>

            <div id="formBody">
                <div class="formField">
                    <input type="email" name="email" required placeholder="Email"/>
                </div>

                <div class="formField">
                    <input type="password" name="password" required placeholder="Password"/>
                </div>

                <div>
                    <input type="submit" value="Login" class="customButton"/>
                </div>
            </div>
            <div id="userNotes">
                New here? <a href="{{ path("register") }}">Register for free</a>
            </div>
        </form>
{% endblock %}