{% extends "base.twig" %}

{% block title %}
    registration
{% endblock %}

{% block body %}
    <form action="{{ path("register_submit") }}" method="POST">

        <div id="formHeader">Registration Form</div>

        <div id="formBody">
            <div class="formField">
                <input type="email" name="email" required placeholder="Email"/>
            </div>

            <div class="formField">
                <input type="password" name="password" required placeholder="Password"/>
            </div>

            <div>
                <input type="submit" value="Register" class="customButton"/>
            </div>
            <div id="userNotes">
                Already have an account? <a href="{{ path("login") }}">Login</a>
            </div>
        </div>
    </form>

{% endblock %}